.container {
    width: 540px;
}

.container h1{
    color: #807C92;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

#password{
    background-color: #23222A;
    color: #807C92;
    padding: 1.6rem;
    font-size: 2rem;
}

#character-length{
    width: 90%;
}

.principal-box{
    background-color: #23222A;
    margin-top: .8rem;
}

.uppercase-box, .lowercase-box, .numbers-box, .symbol-box{
    display: flex;
}

.check-list p{
    color: #E7E6EB;
}